body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  background-color: #ffffff;
}
#content {
  position: absolute;
  top: 0;
  bottom: 0;
  right:0;
  left:20%;
  border-left: 1px solid #ddd;
}
#menu {
  width:20%;
  padding: 12px;
}
#menu a {
  color: #0088cc;
  text-decoration: none;
  display: block;
}
#menu a:hover {
  color: #005580;
  text-decoration: underline;
}
#menu a.active {
  background: url('../imgs/checkbox.png') right center no-repeat;
  padding-right: 20px;
  font-weight: bold;
}